<div class="col-lg-6 col-6">
    <h3 class="footer-heading">About MyBlog</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ab, perspiciatis beatae autem deleniti voluptate nulla a dolores, exercitationem eveniet libero laudantium recusandae officiis qui aliquid blanditiis omnis quae. Explicabo?</p>
    <p><a href="about.html" class="footer-link-more">Learn More</a></p>
</div>