@if(User.Identity.IsAuthenticated)
{
    <aside class="left-sidebar asd" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="HomePage" asp-controller="Home" asp-action="Index"
                                aria-expanded="false">
                                <i class="far fa-clock" aria-hidden="true"></i>
                                <span class="hide-menu">Ana Sayfa</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Writer" asp-controller="Home" asp-action="Index"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Profil</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Message" asp-controller="Home" asp-action="Index"
                                aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Mesajlar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="fontawesome.html"
                                aria-expanded="false">
                                <i class="fa fa-font" aria-hidden="true"></i>
                                <span class="hide-menu">Takipler</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Category" asp-controller="List" asp-action="Index"
                                aria-expanded="false">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span class="hide-menu">Kategoriler</span>
                            </a>
                        </li>
                         
     


            <li class=" sidebar-item ">
        <a class=" sidebar-link waves-effect waves-dark sidebar-link dropdown-toggle " data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
         <i class="fa fa-globe" aria-hidden="true"></i>
                                <span class="hide-menu">Etkinlikler</span>
        </a>
        <div class="collapse " id="home-collapse" style="">
          <ul class="">
            <li class="sidebar-item "><a href="/Event/YazarOlma" class="sidebar-link waves waves-dark sidebar-link ">Yazar Olma Fırsatı</a></li>
            <li class="sidebar-item "><a href="#" class="sidebar-link waves waves-dark sidebar-link ">Günlük Bilgi Yarışması</a></li>
          
           
          </ul>
        </div>
      </li>






    
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="404.html"
                                aria-expanded="false">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                <span class="hide-menu">Error 404</span>
                            </a>
                        </li>
                       @if(User.Claims.FirstOrDefault(c => c.Type == "role").Value=="1")
                        {
                             <li class="text-center p-20 upgrade-btn">
                            <a  asp-area="Blog" asp-controller="Add" asp-action="Index"
                                class="btn d-grid btn-primary text-white">
                                Yeni Yazı</a>
                            </li>
                        }
                        else
                        {
                            <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="blank.html"
                                aria-expanded="false">
                                <i class="fa fa-columns" aria-hidden="true"></i>
                                <span class="hide-menu">Yazar Başvurusu</span>
                            </a>
                        </li>
                              <li class="text-center p-20 upgrade-btn">
                            <a  asp-area="Blog" asp-controller="Add" asp-action="Index"
                                class="btn d-grid btn-primary text-white disabled " role="button">
                                Yeni Yazı <small>(Yazar Değilsiniz)</small></a>
                            </li>
                        }

                        
                        <li class="text-center p-20 upgrade-btn">
                            <a href="/Login/LogOut"
                                class="btn d-grid btn-danger text-white" >
                                Çıkış</a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>





  
}




<!--ZİYARETÇİ OLARAK GİRİLDİYSE ELSE-->
               @if(!User.Identity.IsAuthenticated)
             {
                    <aside class="left-sidebar asd" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Blog" asp-controller="PopBlogs" asp-action="Index"
                                aria-expanded="false">
                                <i class="far fa-clock" aria-hidden="true"></i>
                                <span class="hide-menu">Popüler Bloglar</span>
                            </a>
                        </li>
                          <li class=" sidebar-item ">
        <a class=" sidebar-link waves-effect waves-dark sidebar-link dropdown-toggle " data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
         <i class="fa fa-globe" aria-hidden="true"></i>
                                <span class="hide-menu">Etkinlikler</span>
        </a>
        <div class="collapse " id="home-collapse" style="">
          <ul class="">
            <li class="sidebar-item bas "><a href="/Error/Kaydol" class="sidebar-link waves waves-dark sidebar-link ">Yazar Olma Fırsatı</a></li>
            <li class="sidebar-item "><button onclick="Refresh()" id="kaydol"   class="sidebar-link waves waves-dark sidebar-link ">Günlük Bilgi Yarışması</button></li>
          
           
          </ul>
        </div>
      </li>  

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Writer" asp-controller="Home" asp-action="Index"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Hakkımızda</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Writer" asp-controller="Home" asp-action="Index"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Bize Mesaj Gönderin</span>
                            </a>
                        </li>

                         <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Writer" asp-controller="Home" asp-action="Index"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Hemen Kaydol</span>
                            </a>
                        </li>
                        
                         <li class="text-center p-20 upgrade-btn">
                            <a href="/Login/Register"
                                class="btn d-grid btn-warning text-white" >
                                Hemen Kaydol</a>
                        </li>
                        <li class="text-center p-20 upgrade-btn">
                            <a href="/Login/Index"
                                class="btn d-grid btn-danger text-white" >
                                Giriş Yap</a>
                        </li>
                        
                         
     


                        
  

                        
                        
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>    
        

        
             }
            

            

