@using Datam.Models
@model List<SlideBar>



<section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
        <div class="row">
            <div class="col-12">
                <div class="swiper sliderFeaturedPosts">
                    <div class="swiper-wrapper">
                       @foreach (var item in Model)
                      {
                           <div class="swiper-slide">
                            <a href="@item.href" class="img-bg d-flex align-items-end" style="background-image: url(@item.bgImage);">
                                <div class="img-bg-inner">
                                    <h2>@item.UstBaslik</h2>
                                   <p>@item.Content</p>
                                </div>
                            </a>
                        </div>
                      }

                        
                    </div>
                    <div class="custom-swiper-button-next">
                        <span class="bi-chevron-right"></span>
                    </div>
                    <div class="custom-swiper-button-prev">
                        <span class="bi-chevron-left"></span>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>