@using Datam.Models
@model List<Blog>




     <div class="trending">
                            <h3>Popüler Yazılar</h3>
                            <ul class="trending-post">
                                <li>
                                    <a href="single-post.html">
                                        <span class="number">1</span>
                                        <h3>The Best Homemade Masks for Face (keep the Pimples Away)</h3>
                                        <span class="author">Jane Cooper</span>
                                    </a>
                                </li>
                               
                            </ul>
                        </div>