


<section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>İlginizi Çekebilir</h2>
          <div><a href="category.html" class="more">See All Culture</a></div>
        </div>

        
      </div>
    </section>
