
@{
    ViewData["Title"] = "Kaydol";
    Layout = "~/Views/Shared/AnaLayout.cshtml";
}

  <div class="face">
	<div class="band">
		<div class="red"></div>
		<div class="white"></div>
		<div class="blue"></div>
	</div>
	<div class="eyes"></div>
	<div class="dimples"></div>
	<div class="mouth"></div>
</div>

<h1>Ayrıcalıklı özelliklerden ve etkinliklerden yararlanabilmek için kaydol :)</h1>
<a href="/Login/Register" class="btn btn-primary">Kaydol</a>