@using Datam.Models
@model List<Comment>







<div class="comments">
    <h5 class="comment-title py-4">2 Comments</h5>

    @foreach (var item in Model)
    {
        <div class="comment d-flex mb-4">
            <div class="flex-shrink-0">
                <div class="avatar avatar-sm rounded-circle">
                    <img class="avatar-img" src="~/assets/img/person-5.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="flex-grow-1 ms-2 ms-sm-3">
                <div class="comment-meta d-flex align-items-baseline">
                    <h6 class="me-2">@item.Writer.WriterName</h6>
                    <span class="text-muted">@item.CommentDate</span>
                </div>
                <div class="comment-body">
                    @item.CommentContent
                </div>

               @* <div class="comment-replies bg-light p-3 mt-3 rounded">
                    <h6 class="comment-replies-title mb-4 text-muted text-uppercase">2 replies</h6>



                </div>*@
            </div>
        </div>
    }
</div>











<!--ESKİ-->
